@font-face {
  font-family: Lane Narrow;
  src: url(fonts/LANENAR.ttf);
}

@font-face {
  font-family: Gotham Bold;
  src: url(fonts/GothamBold.ttf);
}

@font-face {
  font-family: Gotham Light;
  src: url(fonts/GothamLight.ttf);
}

@font-face {
  font-family: Melbourne;
  src: url(fonts/Melbourne.otf);
}

@keyframes scale{
    0%{
      transform: translate(0px, 0px);
    }

    50%{
      transform: rotate(0) scale(1.15, 1.15);
    }

    100%{
      transform: translate(0px, 0px);
    }
}

@keyframes wobbleleft{
  0%{
    transform: translate(0px, 0px) rotate(5deg);
  }

  100%{
    transform: translate(0px, 0px) rotate(-5deg);
  }
}

@keyframes wobblemore{
  0%{
    transform: translate(0px, 0px) rotate(20deg);
  }

  100%{
    transform: translate(0px, 0px) rotate(-20deg);
  }
}

@keyframes wobbleright{
  0%{
    transform: translate(0px, 0px) rotate(-5deg);
  }

  100%{
    transform: translate(0px, 0px) rotate(5deg);
  }
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: 'Gotham Light', sans-serif;
}

.clear{
  clear: both;
  margin: 0;
  padding: 0;
}

.section {
  background-color: black;
  display: block;
  min-height: 100vh;
  overflow: hidden;
}

.section.splashscreen {
  background-color: black;
  display: block;
  min-height: 100vh;
}

.section.splashscreen .applyNow {
  margin-bottom: 30px;
}

.section.about {
  background-color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
}

.splashbg {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

.centered {
  display: block;
  box-sizing: border-box;
  width: auto;
  max-height: 200px;
  margin: auto;
  padding-top: 50px;
  margin-top: 180px;
  margin-bottom: 40px;
  animation-name: ;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.40, 0, .60, 1);
}

.laptop {
  display: block;
  box-sizing: border-box;
  width: auto;
  max-height: 200px;
  margin: auto;
  padding-top: 50px;
  margin-top: 180px;
  margin-bottom: 40px;
  animation-name: ;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.40, 0, .60, 1);
}

#stethoscope {
  position: absolute;
  top:10%;
  left: calc(50% - 230px);
  width: 160px;
  animation-name: wobbleleft;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.40, 0, .60, 1);
}

#vr {
  position: absolute;
  top:16%;
  left: calc(50% + 100px);
  width: 150px;
  animation-name: wobbleright;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.40, 0, .60, 1);
}

#pilljar, #phone, #pill1, #pill2, #pill3, #watch {
  position: absolute;
  top:38%;
  left: calc(50% - 330px);
  width: 90px;
  animation-name: wobbleleft;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.40, 0, .60, 1);
}

#phone {
  left: calc(50% + 230px);
  width: 75px;
  animation-name: wobbleright;
}

#pill1, #pill2 {
  top: 48%;
  left: calc(50% - 390px);
  width: 16px;
}

#pill2 {
  top: 54%;
  width: 23px;
  left: calc(50% - 402px);
}

#pill3 {
  top: 52%;
  width: 13px;
  left: calc(50% - 355px);
}

#watch {
  width: 50px;
  top: 45%;
  left: calc(50% + 318px);
  animation-name: wobbleright;
}

#pill1, #pill2, #pill3 {
  animation-name: wobblemore;
}

@media screen and (max-width: 823px){
  .centered {
    display: block;
    box-sizing: border-box;
    max-height: 250px;
    margin: auto;
    padding-top: 50px;
    margin-top: 190px;
    margin-bottom: 30px;
  }
  .laptop {
    display: none;
  }
  #stethoscope, #vr, #pilljar, #phone, #pill1, #pill2, #pill3, #watch {
    display: none;
  }
}

@media screen and (min-width:824px) {
  .centered {
    display: none;
  }
}

.splashText {
  display: block;
  text-align: center;
  margin: auto;
  font-family: "Gotham Bold", sans-serif;
  font-size: 48px;
  color: #fde700;
}

.subText {
  color: #eeeeee;
  display: block;
  text-align: center;
  margin: auto;
  font-family: "Gotham Light", sans-serif;
  font-size: 20px;
  color: #eeeeee;
  line-height: 1.5;
}

.applyNow {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  padding: 15px 20px;
  border-radius: 3px;
  background-color: #fde700;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

@media screen and (min-width: 469px) and (max-width: 699px){
  .centered {
    max-height: 250px;
    margin-top: 100px;
  }
  .splashText {
    font-size: 30px;
    line-height: 1.2;
  }
  .applyNow {
    padding: 10px 15px;
  }
  #stethoscope, #vr, #pilljar, #phone, #pill1, #pill2, #pill3, #watch {
    display: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 823px){
  .centered {
    max-height: 300px;
    margin-top: 60px;
  }
  .splashText {
    font-size: 36px;
  }
  .applyNow {
    padding: 10px 15px;
  }
  #stethoscope, #vr, #pilljar, #phone, #pill1, #pill2, #pill3, #watch {
    display: none;
  }
}

@media screen and (max-width: 468px){
  .centered {
    max-height: 200px;
    padding-top: 20px;
    margin-top: 140px;
    margin-bottom: 30px;
  }
  .splashText {
    display: block;
    text-align: center;
    margin: auto;
    font-family: "Gotham Bold", sans-serif;
    font-size: 26px;
    color: #fde700;
    line-height: 1.2;
  }
  .subText {
    color: #eeeeee;
    display: block;
    text-align: center;
    margin: auto;
    font-family: "Gotham Light", sans-serif;
    font-size: 16px;
    color: #eeeeee;
    line-height: 1.5;
  }
  .applyNow {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 3px;
    background-color: #fde700;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition: none 200ms ease-out;
    transition-property: color, background;
  }
  #stethoscope, #vr, #pilljar, #phone, #pill1, #pill2, #pill3, #watch {
    position: absolute;
    top:38%;
    left: 50%;
    animation-name: wobbleleft;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.40, 0, .60, 1);
    display: none;
  }
}

.textContainer {
  width:100%;
  text-align: center;
}



.applyNow:hover{
  text-decoration: none;
  background-color: black;
  border: 1px solid #fde700;
  color: #fde700;
}


.customNavbar {
  background-color: #fde700;
  display: block;
  height:60px;
  position: absolute;
  width: 100%;
}

.customNavbar.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 1px 1px 5px #555555;
  z-index: 10;
}

.logoDiv{
  float: left;
  padding-left:20px;
}

.customNavbar .logoDiv .logoImage{
  display: inline-block;
  vertical-align: middle;
  float:left;
  margin-top: 10px;
  height: 40px;
}

@media screen and (max-width: 1005px){
  #hamburger {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      background-image: url(../img/hamburger+arrow2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left;
      margin: 15px;
      margin-left: 0;
      margin-right: 25px;
      transition: transform 0.2s;
  }
  .navlinks {
    display: none;
  }
  .menu {
    background-color: #f6d452;
    width: 40%;
    position: absolute;
    top:60px;
    right: -50vw;
    transition: all 0.3s;
  }
  .menu.show{
    background-color: #f6d452;
    width: 180px;
    position: absolute;
    top:60px;
    right:0px;
  }
  .menu li {
    list-style: none;
    line-height: 1.5;
    padding: 10px;
    text-align: left;
  }

  .menu li:hover {
      background-color: #eeeeee;
      cursor: pointer;
  }

  .menu a {
    text-decoration: none;
    color: #000000;
  }
  #hamburger.arrow{
    background-position: bottom left;
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 1006px){
  #hamburger {
      display: none;
  }
  .menu {
    display: none;
  }
}

.logoDiv .logoText{
  font-family: 'Lane Narrow', sans-serif;
  font-size: 20px;
  margin-top: 17px;
  padding-left: 0px;
  color: black;
  float:left;
  text-transform: uppercase;
}

.logoDiv span{
  font-family: 'Lane Narrow', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 10px;
  color: black;
  float:left;
  text-transform: uppercase;
}

.navlinks ul {
  list-style: none;
  text-decoration: none;
}

.navlinks li {
  font-family: 'Gotham Light', sans-serif;
  display: inline-block;
  margin-top: 7px;
  margin-right: 10px;
  font-size: 15px;
}

.navlinks a {
  text-decoration: none;
  color: black;
}



.floatLeft {
  float:right;
}

.floatLeft li:hover {
  text-decoration: none;
  transition: all 1000ms ease-out;
  transition-property: color, background;

}

.floatLeft li:hover a {
  font-weight: 900;
  color: #000000;
  transition: all 1000ms ease-out;
  transition-property: color, background;

}

.floatRight {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.floatRight li {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin-top: -9px;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

.floatRight li:hover {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;

  padding: 8px;
  margin-top: -9px;
  color: #fde700;
}

.aboutcolumn, .aboutText {
  display: block;
  width: 50%;
  padding-top: 150px;
  float: left;
}

.aboutcolumn {
  text-align: center;
}

.aboutLogo {
  max-width: 300px;
  margin-top: 30px;
}

@media screen and (max-width: 810px){
  .aboutLogo {
    max-width: 200px;
    margin-top: 0px;
  }
}


@media screen and (max-width: 810px){
  .aboutcolumn, .aboutText {
    width: 100%;
    float: left;
  }
  .aboutcolumn {
    padding-top: 100px;
  }
  .aboutText {
    padding-top: 0;
    box-sizing: border-box;
  }
  .aboutText h1 {
    padding-top: 0;
    font-family: Gotham Bold, sans-serif;
    color: #dddddd;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: -5px;
    letter-spacing: 5px;
  }
  .section.about{
    min-height: 120vh;
  }
  .content p{
    font-family: Gotham Light, sans-serif;
    color: #dddddd;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
    max-width: 520px;
    padding: 0 50px;
    margin: auto;
    margin-top: 30px;
  }
}

@media screen and (min-width: 811px){
  .aboutText h1 {
    padding-top: 170px;
    font-family: Gotham Bold, sans-serif;
    color: #dddddd;
    text-align: left;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: -5px;
    letter-spacing: 5px;
  }
  .content p{
    font-family: Gotham Light, sans-serif;
    color: #dddddd;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
    max-width: 465px;
    margin-top: 20px;
  }
  .aboutText {
    padding: 0 50px;
    padding-left: 0px;
    box-sizing: border-box;
  }
}

.slideshow1 {
  background-size: cover;
  background-position: 50% 10%;
  height: 91vh;
}

.slideshow2 {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/funandprizes2.jpg);
  background-size: cover;
  background-position: 50% 10%;
  height: 91vh;
}

@media screen and (max-width:518px) {
  .sectionheader h1 {
    color: #eeeeee;
    display: block;
    text-align: center;
    margin: auto;
    font-family: "Gotham Bold", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 0 15px;
  }
}

@media screen and (min-width:519px) {
  .sectionheader h1 {
    color: #eeeeee;
    display: block;
    text-align: center;
    margin: auto;
    font-family: "Gotham Bold", sans-serif;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}

.sectionheader {
  padding-top: 50px;
  line-height: 1.2;
}

@media screen and (max-width:518px) {
  .slidetext h1 {
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    font-family: Gotham Light, sans-serif;
    color: #eeeeee;
    font-size: 24px;
    line-height: 1.2;
    max-width: 300px;
  }
}

@media screen and (min-width:511px) and (max-width:810px) {
  .slidetext h1 {
    margin-top: 30vh;
    text-align: center;
    font-family: Gotham Light, sans-serif;
    color: #eeeeee;
    font-size: 36px;
  }
}

@media screen and (min-width:811px) {
  .slidetext h1 {
    margin-top: 30vh;
    text-align: center;
    font-family: Gotham Light, sans-serif;
    color: #eeeeee;
    font-size: 36px;
    letter-spacing: 1px;
  }
}

#leftarrow, #rightarrow {
  cursor: pointer;
  position: absolute;
  margin-top: -360px;
  display: block;
  width:50px;
  height:75px;
  background-image: url(../img/icon_arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

#leftarrow {
}

#rightarrow {
  transform: rotate(0deg);
  right: 0px;
  text-align: right;
}

.photos {
  width:100%;
  height:100vh;
}

.pulseline {

}

.section.details {
  min-height: 140vh;
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.details .container {
  max-width: 1000px;
  display: block;
  margin: auto;
}

.section.details .aboutcolumn{
  display: block;
  width: 50%;
  float: left;
  padding-top: 0;
  text-align: center;
}

.section.details .aboutText h1 {
  padding-top: 0;
  text-align: center;
}

.section.details .aboutText {
  padding: 0 0;
}

.section.details .aboutLogo {
  display: block;
  margin: auto;
}

.section.details .content {
  font-family: Gotham Light, sans-serif;
  color: #dddddd;
  text-align: center;
  line-height: 1.5;
  font-size: 16px;
  max-width: 520px;
  padding: 0 20px;
  margin: auto;
}


.section.details .content.marginbottom {
  padding-bottom: 50px;
}

@media screen and (min-width:521px) {
    .section.details h2 {
    padding-top: 30px;
    font-family: Gotham Bold, sans-serif;
    color: #dddddd;
    text-align: center;
    text-transform: ;
    font-size: 36px;
    margin-bottom: -5px;
  }
  .section.details .content p{
    font-family: Gotham Light, sans-serif;
    color: #dddddd;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    max-width: 520px;
    padding: 0 50px;
    margin: auto;
    margin-top: 30px;
  }
}

@media screen and (max-width:520px) {
    .section.details h2 {
    padding-top: 10px;
    font-family: Gotham Bold, sans-serif;
    color: #dddddd;
    text-align: center;
    text-transform: ;
    font-size: 24px;
    margin-bottom: -5px;
  }
  .section.details .content p{
    font-family: Gotham Light, sans-serif;
    color: #dddddd;
    text-align: center;
    line-height: 1.5;
    font-size: 16px;
    max-width: 520px;
    padding: 0 50px;
    margin: auto;
    margin-top: 10px;
  }
}

.container h3 {
  width: 200px;
  margin-top: 30px;
  padding: 15px;
  background-color: #fde700;
  color: #000000;
  display: inline-block;
  text-align: center;
  font-size: 24px;
  font-family: "Gotham Light", sans-serif;
}

.section.speakers {
  min-height: 145vh;
  background-color: #f6d452;
  background-size: cover;
  background-repeat: no-repeat;
}

.onethirdcolumn {
  display: block;
  width: 33.33%;
  float: left;
  text-align: center;
  padding: 20px 0px;
}

.section.speakers .sectionheader h1, .section.questions .sectionheader h1 {
  color: #333333;
}

.section.speakers img {
  width: 120px;
  display: block;
  margin: auto;
  border-radius: 60px;
}

.row {
  width: 100%;
  margin-top: 30px;
  float: left;
}

.lessmarginrow {
  width: 100%;
  margin-top: 10px;
  float: left;
}

@media screen and (min-width: 635px) and (max-width:920px) {
  .onethirdcolumn {
    width: 50%;
    float:left;
  }
  #lastcolumn {
    width: 100%;
  }
  #lastcolumn p{
    width: 30%;
  }
}

@media screen and (max-width:634px) {
  .onethirdcolumn {
    width: 100%;
    float:left;
  }
}

.onethirdcolumn h4 {
  font-family: Gotham Bold, sans-serif;
  font-size: 16px;
  font-weight: bolder;
  width: 200px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: #222222;
  color: #eeeeee;
}

.row p {
  width: 55%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
}

.lessmarginrow p {
  width: 52%;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.2;
}

.bold {
  font-family: Gotham Bold, sans-serif;
  font-size: 14px;
}

.section.sponsors {
  min-height: 91vh;
  background-color: #dddddd;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.sponsors .sectionheader h1 {
  color: #333333;
}

.section.sponsors img {
  max-height: 100px;
  padding: 20px;
  max-height: 100px;
  text-align: center;
}

#microsoft {
  max-height: 60px;
  margin-bottom: 12px;
}

#kickstart {
}

@media screen and (max-width:520px) {
  .section.sponsors img {
    padding: 20px;
  }
  .logos {
    text-align: center;
    padding: 0px;
  }
}

@media screen and (min-width:521px){
    .logos {
    text-align: center;
    padding: 50px;
  }
}

.section.questions {
  min-height: 140vh;
  background-color: #eeeeee;
}

.maxwidth {
  max-width: 600px;
  display: block;
  margin: auto;
  padding: 50px;
  padding-left: 100px;
}

.question {
  text-align: left;
  font-family: Gotham Bold, sans-serif;
  color: #222222;
  font-size: 20px;
  position: relative;
  padding-left: 30px;
  display: block;
  margin: auto;
}

 .answer {
   text-align: left;
   font-family: Gotham Light, sans-serif;
   color: #222222;
   font-size: 16px;
   line-height: 1.5;
   position: relative;
   padding-left: 30px;
   display: block;
   margin: auto;
   margin-top: 50px;
 }

.question:before{
  font-family: Gotham Bold, sans-serif;
  position: absolute;
  left: -50px;
  font-size: 50px;
  content: "Q:";
  color: #222222;
  margin-top: -10px;
}

.answer:before{
  font-family: Gotham Bold, sans-serif;
  position: absolute;
  left: -50px;
  font-size: 50px;
  content: "A:";
  color: #222222;
  margin-top: -10px;
}

.sentence {
}

.section.slideshow {
  background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../img/applynow1.jpg);
  background-size: cover;
  background-position: 50% 10%;
  min-height: 92vh;
}

.section.slideshow .sectionheader h1 {
  margin-top: 30vh;
}

.section.slideshow .sectionheader h2 {
  color: #eeeeee;
  text-align: center;
}

.section.slideshow span {
  color: #fde700;
}

.centeralign {
  text-align: center;
}

.brian {
}

.section.contact {
  min-height: 92vh;
  background-color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.contact h2 {
  text-align: center;
  color: #eeeeee;
  max-width: 90%;
  display: block;
  margin: auto;
  margin-top: 10vh;
}

.contact .applyNow {
  text-transform: none;
  padding: 20px;
  cursor: pointer;
}

.contact p {
  color: #cccccc;
  text-align: center;
  line-height: 1.5;
  margin-top: 5vh;
  padding: 50px;
}

div.formContent {
  margin-top: 100px;
}

div.formContent h1 {
  font-family: Gotham Bold, sans-serif;
  color: #dddddd;
  text-align: left;
  font-size: 38px;
  margin-bottom: -5px;
  letter-spacing: 1.5px;
}

div.formContent div.box {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  color: #CCC;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

label {
  font-size: 20px;
  color: #cccccc;
  line-height: 2.5rem;
  text-align: left;
}

label input {
  font-size: 20px;
  width: 100%;
  color: #cccccc;
  background-color: #222222;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #CCC;
  border-bottom-width: 1px;
  font-family: "Gotham Light", sans-serif;
  -webkit-border-radius: 0;
}

label input:focus {
  border-bottom-color: #fde700;
  color: #fde700;
  outline: none;
}

label p {
  font-size: 16px;
  line-height: 1;
}

input.submitButton {
  padding: 1em 3em;
  font-family: "Gotham Light", sans-serif;
  border: none;
  border-radius: 0.25em;
  background-color: #FDE700;
  color: #222;
  float: right;
  -webkit-appearance: none;
  margin-bottom: 1rem;
}

input[type=radio], input[type=checkbox] {
  width: auto;
  background: #fde700;
  visibility: hidden;
  position: absolute;
}

input[type=radio] + label:before,
input[type=checkbox] + label:before{
  height:12px;
  width:12px;
  margin-right: 2px;
  content: "  ";
  display:inline-block;
  vertical-align: baseline;
  border:1px solid #EEE;
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before{
  background:#FDE700;
}

input[type=radio] + label:before{
  border-radius:50%;
}
input[type=checkbox] + label:before{
  border-radius:2px;
}

form * {
  transition: 0.5s;
}
