@font-face {
  font-family: Lane Narrow;
  src: url(fonts/LANENAR.ttf);
}

@font-face {
  font-family: Gotham Bold;
  src: url(fonts/GothamBold.ttf);
}

@font-face {
  font-family: Gotham Light;
  src: url(fonts/GothamLight.ttf);
}

@font-face {
  font-family: Melbourne;
  src: url(fonts/Melbourne.otf);
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  font-family: 'Melbourne', sans-serif;
}

.section {
  background-color: black;
  display: block;
  height: 100vh;
}

.section .splashscreen {
  background-color: black;
  display: block;
  height: 100vh;
}

.section.about {
  background-color: #222222;
  background-size: cover;
  background-repeat: no-repeat;
}

.splashbg {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
}

.centered {
  display: block;
  box-sizing: border-box;
  width: auto;
  max-height: 350px;
  margin: auto;
  padding-top: 50px;
  margin-bottom: 30px;
}

@media screen and (max-width: 680px){
  .centered {
    display: block;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding-top: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
}

.textContainer {
  width:100%;
  text-align: center;
}

.splashText {
  color: #eeeeee;
  display: block;
  text-align: center;
  margin: auto;
  font-family: "Gotham Bold", sans-serif;
  font-size: 48px;
  color: #fde700;
}

.subText {
  color: #eeeeee;
  display: block;
  text-align: center;
  margin: auto;
  font-family: "Melbourne", sans-serif;
  font-size: 24px;
  color: #eeeeee;
  line-height: 1.5;
}

.applyNow {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #fde700;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

.applyNow:hover{
  text-decoration: none;
  background-color: black;
  border: 1px solid #fde700;
  color: #fde700;
}


.customNavbar {
  background-color: #fde700;
  display: block;
  height:60px;
  position: absolute;
  width: 100%;
}

.customNavbar.fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logoDiv{
  float: left;
  padding-left:20px;
}

.customNavbar .logoDiv .logoImage{
  display: inline-block;
  vertical-align: middle;
  float:left;
  margin-top: 10px;
  height: 40px;
}

@media screen and (max-width: 993px){
  #hamburger {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      background-image: url(../img/hamburger+arrow2.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top left;
      margin: 15px;
      margin-left: 0;
      margin-right: 25px;
      transition: transform 0.2s;
  }
  .navlinks {
    display: none;
  }
}

@media screen and (min-width: 993px){
  #hamburger {
      display: none;
  }
}

.logoDiv .logoText{
  font-family: 'Lane Narrow', sans-serif;
  font-size: 20px;
  margin-top: 17px;
  padding-left: 0px;
  color: black;
  float:left;
  text-transform: uppercase;
}

.logoDiv span{
  font-family: 'Lane Narrow', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 10px;
  color: black;
  float:left;
  text-transform: uppercase;
}

.navlinks ul {
  list-style: none;
  text-decoration: none;
}

.navlinks li {
  font-family: 'Gotham Light', sans-serif;
  display: inline-block;
  margin-top: 7px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bolder;
}

.navlinks a {
  text-decoration: none;
  color: black;
}



.floatLeft {
  float:right;
}

.floatLeft li:hover {
  text-decoration: none;
  transition: none 200ms ease-out;

}

.floatLeft li:hover a {
  font-family: Gotham Bold, sans-serif;

}

.floatRight {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}

.floatRight li {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
  margin-top: -9px;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

.floatRight li:hover {
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;

  padding: 8px;
  margin-top: -9px;
  color: #fde700;
}

.aboutcolumn, .aboutText {
  display: block;
  width: 50%;
  padding-top: 150px;
  float: left;
}

.aboutcolumn {
  text-align: center;
}

.aboutLogo {
  max-width: 300px;
  padding: 0 20px;
  margin-top: 30px;
}

.centeralign {
}

@media screen and (max-width: 760px){
  .aboutcolumn, .aboutText {
    width: 100%;
    float: left;
  }
  .aboutcolumn {
    padding-top: 100px;
  }
  .aboutText {
    padding-top: 0;
    box-sizing: border-box;
  }
  .aboutText h1 {
    padding-top: 0;
    font-family: Gotham Bold, sans-serif;
    color: #dddddd;
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: -5px;
  }
  .section.about{
    height: 130vh;
  }
  .content p{
    font-family: Gotham Light, sans-serif;
    color: #dddddd;
    text-align: justify;
    line-height: 1.5;
    font-size: 16px;
    max-width: 520px;
    padding: 0 50px;
    margin: auto;
    margin-top: 30px;
  }
}

@media screen and (min-width: 760px){
  .aboutText h1 {
    padding-top:180px;
    font-family: Gotham Bold, sans-serif;
    color: #dddddd;
    text-align: left;
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: -5px;
  }
  .content p{
    font-family: Gotham Light, sans-serif;
    color: #dddddd;
    text-align: left;
    line-height: 1.5;
    font-size: 16px;
    max-width: 480px;
  }
  .aboutText {
    padding: 0 50px;
    padding-left: 0px;
    box-sizing: border-box;
  }
}



.pulseline {

}
